.container{
    max-width: 80vw;
    margin: 1rem auto;
}

.myImg {
    height: 5rem;
}

@media only screen and (max-width:768px) {
    .cart{
        position: absolute;
        top: 3rem;
        right: 2rem;
    }
}